.my-element {
    display: inline-block;
    margin: 0 0.5rem;
    color: blue;
    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    margin: 30px 40px;
    --animate__repeat:3
  }